* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma, sans-serif;
}

.control-buttons span, .game-end span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f44336;
  color: #fff;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.control-buttons, .game-end {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(3, 169, 244, 0.9);
}

.game-end {
  display: none;
  background-color: rgba(244, 3, 3, 0.9);
}

.game-end span {
  color: red;
  background-color: white;
  font-weight: bold;
  cursor: not-allowed;
}

.info-container .name, .last-player-container .name, .info-container .time, .last-player-container .time, .info-container .tries, .last-player-container .tries, .last-player-container .last-player-name, .last-player-container .last-player-time, .last-player-container .last-player-tries {
  float: left;
  width: 33%;
}

.info-container, .last-player-container {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #2196f3;
}

.info-container .time, .last-player-container .time {
  text-align: center;
}

.info-container .tries, .last-player-container .tries {
  text-align: right;
}

.last-player-container .last-player-time {
  text-align: center;
}

.last-player-container .last-player-tries {
  text-align: right;
}

.memory-game-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
}

.memory-game-blocks.no-clicking {
  pointer-events: none;
}

.memory-game-blocks .game-block {
  height: 200px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  margin: 0 10px 20px;
}

.memory-game-blocks .game-block .front {
  background-color: #333;
  line-height: 200px;
}

.memory-game-blocks .game-block .front:before {
  content: "!";
  color: #fff;
  font-size: 140px;
  font-weight: bold;
}

.memory-game-blocks .game-block .back {
  background-color: #607d8b;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.memory-game-blocks .game-block .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}

.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 5px solid #2196f3;
}

.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
/*# sourceMappingURL=memory-game.css.map */